*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(219, 219, 219);
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

/* Utilities */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Header */

header {
    text-align: center;
    margin: 20px 0;
}

header h1 {
    font-size: 40px;
    margin-bottom: 10px;
    transform: scaleX(1.4);
}

header h3 {
    line-height: 1.4;
    font-size: 16px;
    transform: scaleX(1);
}

/* Main */

.container .row {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.container .row .boxes {
    width: 300px;
    height:250px;
    background-color: #fff;
    padding:20px 10px;
    margin:15px;
    margin-top: 25px;
    color: gray;
}

.container .row .boxes i {
    color: indianred;
}

.container .row .boxes h3 {
    margin: 10px 0;
}

.container .row .boxes p {
    line-height: 1.4;
}

.container .btn-container {
    text-align: center;
}

.container .btn-container .btn {
    padding:10px 20px;
    background-color: rgb(255, 132, 44);
    border: none;
    color: #fff;
    cursor: pointer;
}

.container .btn-container .btn:hover {
    background-color: chocolate;
}